// Import page-specific CSS files here.

body,
html {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 !important;
}

.left-part {
  background-color: white;
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(251, 245, 234);
  text-align: center;
}

// .diagonal {
//   width: 100%;
//   height: 100vh;
//   background-color: rgb(251, 245, 234);
//   transform: skewX(-3deg);
//   transform-origin: top center;
// }

.text {
  font-size: 1.5rem !important;
  margin: 0 0 36px 0;
}

#circle-top {
  width: calc(150px + 12vw);
  height: calc(150px + 12vw);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -105px;
  left: 120px;
}

#circle-bottom {
  width: calc(150px + 20vw);
  height: calc(150px + 20vw);
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 190px;
  top: 500px;
}

h1,
h2 {
  margin: 0;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 5vw;
}

.red-color {
  color: rgb(250, 24, 37);
  font-size: 6vw;
  text-align: center;
}

.main-title {
  z-index: 100;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
}

p {
  font-family: "EB Garamond", serif;
  color: black;
}

.second-title {
  z-index: 99;
  font-size: 2vw;
}

.sub-title {
  margin-bottom: 2vw;
  z-index: 100;
  margin-top: 30px;
}

.logo {
  width: 30%;
  margin-top: 12px;
}

.third-title {
  font-size: 2vw;
  margin: 0 auto;
}

.index {
  z-index: 100;
}

.logos-title {
  // position: absolute;
  // left: -10vw;
  // z-index: 99;
  font-size: 35px;
  // margin-top: 40px;
  background: white;
  border-top-left-radius: 50%;
  // border-top-right-radius: 50%;
  // height: 30px;
  // padding-top: 0px;
  width: 50vw;
  display: flex;
  justify-content: center;
  background: white;
}

// .logos-container {

// }

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 30vw;
  z-index: 100;
  margin-top: 3vh;
}

// .half-bubble {
//   background-color: white;
//   border-top-left-radius: 50px;
//   border-top-right-radius: 50px;
//   padding-top: 7%;
//   padding-bottom: 100%;
//   padding-right: 24vh;
//   padding-left: 1vh;;
//   // padding-right: 20%;
//   // border-top-left-radius: 50%;
//   // border-top-right-radius: 50%;
//   // padding-top: 100px;
// }

.logo-ft {
  width: 10%;
  height: 8%;
  z-index: 100;
}

.logo-ft-milan {
  width: 40%;
  height: 40%;
  z-index: 100;
}

.logo-bf {
  width: 24%;
  height: 24%;
  z-index: 100;
}

// RIGHT - PART

.right-part {
  width: 50vw;
  height: 100vh;
  background-color: white;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0 5vw 0 5vw;
}

.list-intro {
  margin: 60px 48px;
  // border: solid;
  // border-color: black;
  // border-width: 1px;
}

.list-intro p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 85%;
  font-style: italic;
}

.title-event {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: red;
  font-size: 100%;
}

.label-new {
  border: solid;
  border-color: green;
  border-width: 2px;
  background-color: green;
  border-radius: 2px;
  padding: 2px 2px;
  color: white;
}

.label-today {
  border: solid;
  border-color: purple;
  border-width: 2px;
  background-color: purple;
  border-radius: 2px;
  padding: 2px 2px;
  color: white;
}

.label-completed {
  border: solid;
  border-color: grey;
  border-width: 2px;
  background-color: grey;
  border-radius: 2px;
  padding: 2px 2px;
  color: white;
}

p.event-date {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 700;
}

p.event-name {
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.list-event-group {
  margin-top: 3rem;
}

//RESPONSIVE ----------------------------------------

@media screen and (max-width: 992px) {
  body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 !important;
  }

  .left-part {
    background-color: rgb(251, 245, 234);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    // align-content: stretch;
    flex-direction: column;
  }

  // .diagonal {
  //   width: 0%;
  //   height: 20vh;
  //   background-color: rgb(251, 245, 234);
  //   transform: skewX(-3deg);
  //   transform-origin: top center;
  // }

  // .half-bubble {
  //   height: 90px;
  //   padding-top: 8px;
  //   padding-bottom: 0%;
  //   padding-right: 0%;
  // }

  .main-title {
    // position: relative;
    z-index: 88;
    // top: auto;
    // left: auto;
    // padding-right: 25vh;
    // margin-top: 30px;
  }

  .sub-title {
    // left: auto;
    // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    // margin-bottom: 0px;
    font-size: 3vw;
  }

  .index {
    font-size: 3vw;
  }

  .second-title {
    // position: relative;
    // top: auto;
    // left: auto;
    z-index: 99;
    font-size: 35px;
    text-align: center;
  }

  .logo {
    width: 36%;
    // position: relative;
    // left: auto;
    // margin-top: 12px;
    width: 25vw;
  }

  .logo-ft {
    width: 7%;
    height: 7%;
  }

  .logo-ft-milan {
    width: 25%;
    height: 25%;
  }

  .logo-bf {
    width: 16%;
    height: 16%;
  }

  .third-title {
    // position: absolute;
    // top: auto;
    // left: auto;
    z-index: 99;
    font-size: 35px;
    margin-top: 85px;
    text-align: center;
  }

  .logos {
    margin: 0 auto;
    width: 100vw;
    // height: 30px;
    align-items: flex-start;
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .logos-title {
    // position: relative;
    // left: auto;
    z-index: 99;
    font-size: 35px;
    margin-top: 40px;
    width: 100vw;
  }

  .title {
    font-family: "Oswald", sans-serif;
    // font-size: calc(48px + (48 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-size: 5rem;
    text-align: center;
  }

  .third-title-mobile {
    text-align: center;
  }

  .current-events {
    text-align: center;
  }

  .past-events {
    text-align: center;
  }

  .m-top {
    margin-top: 2vh;
  }

  .right-part {
    width: 100vw;
    // height: 50vh;
    background-color: white;
    overflow-y: inherit;
  }

  .list {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
    // padding: 0 5vw 0 5vw;
  }

  .list-intro {
    margin: 60px 48px;
    // border: solid;
    // border-color: black;
    // border-width: 1px;
  }

  .list-intro p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2vw;
    font-style: italic;
  }

  .title-event {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: red;
    font-size: 2vw;
  }

  .label-new {
    border: solid;
    border-color: green;
    border-width: 2px;
    background-color: green;
    border-radius: 2px;
    padding: 2px 2px;
    color: white;
  }

  .label-today {
    border: solid;
    border-color: purple;
    border-width: 2px;
    background-color: purple;
    border-radius: 2px;
    padding: 2px 2px;
    color: white;
  }

  p.event-date {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    font-weight: 700;
  }

  p.event-name {
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    font-weight: 400;
  }
}

//Mobile

@media screen and (max-width: 682px) {
  h3.title-event {
    font-size: 1.5rem;
  }
  span.label-completed {
    font-size: 1rem;
  }

  p.event-date {
    font-size: 1rem;
  }

  p.event-name {
    font-size: 1rem;
  }

  span.label-today {
    font-size: 1rem;
  }

  span.label-new {
    font-size: 1rem;
  }

  .list-intro p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }

  .sub-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 14vw;
  }

  .logo {
    width: 50vw;
  }

  .logo-ft {
    width: 10%;
    height: 10%;
  }

  .logo-ft-milan {
    width: 35%;
    width: 35%;
  }

  .logo-bf {
    width: 20%;
    height: 20%;
  }
}
